#div_not_login {
	margin: 50px;
	padding: 5px;
	border: 3px solid #9E0000;
	background-color: #CD3333;
	color: #ffffff;
	font-size: 150%;
	text-align: center;
	font-family: Arial;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}